<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gighub.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gighublogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnr-Sxlgu9soj-V9u4xaoP1kDEy3ULW3A" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://627999879788938:Tfnf61ZtXn61Ct-Jbr_F__lzSJ8@dv5anayv1" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <activity android:name=".ui.activity.IntroActivity" />
        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.MusicianActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.SignInActivity" />
        <activity
            android:name=".ui.activity.BookMusicianActivity"
            android:parentActivityName=".ui.activity.MusicianActivity" />
        <activity android:name=".ui.activity.GigActivity" />
        <activity android:name=".ui.activity.AccountActivity" />
        <activity android:name=".ui.activity.BookingListActivity" />
        <activity
            android:name=".ui.activity.GigMoneyActivity"
            android:parentActivityName=".ui.activity.AccountActivity" />
        <activity
            android:name=".ui.activity.ManagerActivity"
            android:parentActivityName=".ui.activity.AccountActivity" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:parentActivityName=".ui.activity.AccountActivity" />
        <activity android:name=".ui.activity.CompleteMusicianProfileActivity" />
        <activity android:name=".ui.activity.BookingDetailsActivity" />
        <activity android:name=".ui.activity.ViewMapGig" />
        <activity android:name=".ui.activity.RegisterAsActivity" />
        <activity android:name=".ui.activity.RegisterAsOrganizerActivity" />
        <activity android:name=".ui.activity.RegisterAsMusicianActivity" />
        <activity android:name=".ui.activity.LoginAsOrganizerActivity" />
        <activity android:name=".ui.activity.LoginAsMusicianActivity" />
        <activity android:name=".ui.activity.LoginAsActivity" />
        <activity
            android:name=".ui.activity.CreateBandActivity"
            android:theme="@style/Biasa" />
        <activity android:name=".ui.activity.GroupBandActivity" />
        <activity android:name=".ui.activity.CreateGigActivity" />
        <activity android:name=".ui.activity.YourGigActivity" />
        <activity android:name=".ui.activity.KonfirmasiPembayaranActivity" />
        <activity android:name=".ui.activity.GroupBandProfileActivity" />
        <activity android:name=".ui.activity.GigOfferMusicianActivity" />
        <activity android:name=".ui.activity.GigOfferMusicianItemActivity" />
        <activity android:name=".ui.activity.MusicianBankActivity" />
        <activity android:name=".ui.activity.AddMusicianToGroupActivity" />
        <activity android:name=".ui.activity.AddPositionMusicianActivity"></activity>
    </application>

</manifest>